body {
	background: #eeeeee;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.6;
}

.info-container {
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 0px;
	margin: 20px auto;
	max-width: 800px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; /* allow .item blocks to flow to the next line when needed */
}

.info-container .item {
	display: block;
	padding: 10px 30px;
	flex: 0 1 auto;
	white-space: normal;
}

.info-container .item .label {
	font-weight: bold;
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
}

.info-container .item .text {
	color: #333333;
    font-size: 14px;
	min-height: 60px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.info-container .item.door .text,
.info-container .item.room .text {
    font-size: 24px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
